* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
} 

/* body {
    background-color: #003990;
} */

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 0px;
}

.navbar h3 {
    font-size: 22px;
}

.navbar h3 span {
    font-style: italic;
    color: orangered;
}

.search-form input {
    width: 300px;
    padding: 12px 16px;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid lightgray;
    border-right: none;
    background: transparent;
}

.search-form button {
    padding: 12px 16px;
    background-color: orangered;
    border-left: none;
    border: 1px solid lightgray;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    border: none;
    cursor: pointer;
}

.movies-container {
    width: 100%;
    border: 1px solid black;
}